<form action="/auth/register" method="post">
    <label for="email">Email ID</label>
    <input type="text" name="email" id="email" placeholder="Email" required>    
    <label for="name">Username</label>
    <input type="text" name="name" id="name" placeholder="John Doe" required>    
    <label for="pfp">Profile Picture</label>
    <input type="text" name="pfp" id="pfp" placeholder="pfp">    
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password" required>    
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>     
    <button type="submit">Submit</button>
</form>