<div class="reg-container">
    <div class="reg-form-container">
        <form action="/auth/register" method="post">
            <h1>Register</h1>
            <div class="field">
                <label for="email">Valid Email</label>
                <input type="text" name="email" id="email" placeholder="john.doe@gmail.com" required>
            </div>
            <div class="field">
                <label for="name">Username</label>
                <input type="text" name="name" id="name" placeholder="John_Doe" required>
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="14vQ!If6nWB#" required>
            </div>
            <div class="field">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="14vQ!If6nWB#" required>
            </div>
            <button class="reg-submit" type="submit">Submit</button>

        </form>
    </div>
    <img src="/register.svg" alt="" style="width: 30vw;">
</div>

<style>
    .reg-submit {
        background-color: var(--violet);
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        font-size: 24px;
        border-radius: 10px;
        margin: 40px 2px 4px;
        cursor: pointer;
        width: 200px;
    }

    .reg-container {
        background-color: var(--black);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        min-height: 100vh;
        min-width: 100vw;
    }

    .reg-form-container {
        padding: 1rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: left;
    }

    .reg-form-container form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .reg-form-container label {
        color: var(--grey);
        font-size: 14px;
        margin-bottom: 0.8rem;
    }
    
    .reg-form-container h1 {
        color: var(--violet);
        text-align: center;
        font-size: 52px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    
    .field {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
    }
    
    .field input {
        transition: border-color 0.3s ease-out;
        font-size: 16px;
        padding: 0.8rem 1rem;
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--white);
        outline: 0;
        border-width: 0 0 2px;
        width: 30vw;
        border: 2px solid var(--text);
        outline: none;
        border-radius: 15px;
    }

    ::placeholder {
        opacity: 60%;
    }

    [placeholder]:focus::-webkit-input-placeholder {
        transition: text-indent 0.4s 0.4s ease;
        text-indent: -100%;
        opacity: 1;
    }
    
    .field input:focus{
        border-color: var(--violet);
    }
</style>