<form action="/admin/addSong" method="post">
    <label for="name">Username</label>
    <input type="text" name="name" id="name" placeholder="John Doe" required>    
    <label for="artist">artist</label>
    <input type="text" name="artist" id="artist" placeholder="artist" required>  
    <label for="id">id</label>
    <input type="text" name="id" id="id" placeholder="id" required>    
    <label for="img">Album img</label>
    <input type="text" name="img" id="img" placeholder="img">    
</form>