<form action="/admin/addSong" method="post">
    <label for="name">Username</label>
    <input type="text" name="name" id="name" placeholder="John Doe" required>    
    <label for="artist">artist</label>
    <input type="text" name="artist" id="artist" placeholder="artist" required>  
    <label for="img">Album img</label>
    <input type="text" name="img" id="img" placeholder="img">       
    <label for="genre">genre</label>
    <input type="text" name="genre" id="genre" placeholder="genre">    
    <button type="submit">Submit</button>
</form>