    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        header {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 15px 10%;
            background-color: var(--black);
            border-bottom: 1px solid var(--grey);
        }
        
        .logo {
            margin-right: auto;
        }
        
        .nav__links {
            list-style: none;
            display: flex;
        }
        
        .nav__links a,
        .cta,
        .overlay__content a {
            font-family: outfit, sans-serif;
            font-weight: 500;
            color: var(--white);
            text-decoration: none;
        }
        
        .nav__links li {
            padding: 0px 20px;
        }
        
        .nav__links li a {
            transition: all 0.3s ease 0s;
        }
        
        .nav__links li a:hover {
            color: var(--grey);
        }
        
        .cta {
            margin-left: 20px;
            padding: 9px 25px;
            background-color: #232323;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            transition: all 0.3s ease 0s;
        }
        
        .cta:hover {
            background-color: #232323a5;
        }
        /* Mobile Nav */
        
        .menu {
            display: none;
        }
        
        .overlay {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            background-color: var(--black);
            overflow-x: hidden;
            transition: all 0.5s ease 0s;
        }
        
        .overlay--active {
            width: 100%;
        }
        
        .overlay__content {
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .overlay a {
            padding: 15px;
            font-size: 36px;
            display: block;
            transition: all 0.3s ease 0s;
        }
        
        .overlay a:hover,
        .overlay a:focus {
            color: #232323;
        }
        
        .overlay .close {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
            color: #edf0f1;
            cursor: pointer;
        }
        
        @media screen and (max-height: 450px) {
            .overlay a {
                font-size: 20px;
            }
            .overlay .close {
                font-size: 40px;
                top: 15px;
                right: 35px;
            }
        }
        
        @media only screen and (max-width: 800px) {
            .nav__links,
            .cta {
                display: none;
            }
            .menu {
                display: initial;
            }
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
    <header>
        <a href="/"><img src="/logo.svg" style="max-width:90px; padding-right: 20px;padding-bottom: 10px;"></a>
        <a class="logo" href="#" style="text-decoration: none; color: var(--violet); font-family:Outfit; font-size: 1.5em"> Mise</a>
        <nav>
            <ul class="nav__links">
                <% if (user) { %>
                <li><a href="/join">Join Room</a></li>
                <li><a href="/room/newroom">Create Room</a></li>
                <li><a href="/profile">View Profile</a></li>
                <% } else { %>
                    <li><a href="/auth/register">Register</a></li>
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/">Home</a></li>
                    <% } %>
            </ul>
        </nav>
        <p class="menu cta">Menu</p>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <% if (user) { %>
                <li><a href="/join">Join Room</a></li>
                <li><a href="/room/newroom">Create Room</a></li>
                <li><a href="/profile">View Profile</a></li>
                <% } else { %>
                    <li><a href="/auth/register">Register</a></li>
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/">Home</a></li>
                    <% } %>
        </div>
    </div>
    <script>
        const doc = document;
        const menuOpen = doc.querySelector(".menu");
        const menuClose = doc.querySelector(".close");
        const overlay = doc.querySelector(".overlay");

        menuOpen.addEventListener("click", () => {
            overlay.classList.add("overlay--active");
        });

        menuClose.addEventListener("click", () => {
            overlay.classList.remove("overlay--active");
        });
    </script>